.about{
    padding: 100px 0;
    transition: all 0.3s ease;
    background-color: #251d3a;
    color: white;
}
.about .str-text{
    color: white;
    font-weight: 600;
}

.about .title::after{
    content: "who I am";
    background-color: #251d3a;
}

.about .about-content{
    margin-bottom: 100px;
}

.about .about-content .left{
    width: 45%;
}

.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
    background-color: #251d3a;
    color: white;
}

.about .about-content .right{
    width: 55%;
    padding-bottom: 50px;
    background-color: #251d3a;
}

.about .about-content .right .about-text{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    color: white;
}

.about .about-content .right .about-skills{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    color: rgb(255, 164, 45);
}

.about .about-content .right .about-p{
    text-align: justify;
    font-size: 20px;
    color: #a0a0a0;
}